{% macro render_wizard_card(moduleData, moduleSection, moduleSettings) %} 
<!-- Form for Selected Module -->
	<div class="list-group-item py-4">
		<div class="d-none d-lg-flex flex-column flex-lg-row align-items-center">
			<div class="col-12 col-lg-2 mb-3 mb-lg-0">
				<img src="{{ url_for('static', filename='img/wizard/' + moduleData['image']) }}" class="border border-secondary rounded img-fluid">
			</div>
			<!-- Media Text-->
			<div class="col-12 col-lg-10">
				<p class="mb-0 ml-2 p-2">
					<b>Description: </b>{{ moduleData['description'] }}
				</p>
				{% if moduleData['notes'] %}
				<p class="mb-0 ml-2 p-2">
					<b>Note: </b>{{ moduleData['notes'] }}
				</p>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="btn bg-secondary section-header justify-content-between align-items-center col-12">
		<h5 class="mb-0 d-flex justify-content-between align-items-center">
			<div class="d-flex align-items-start">
				Module Options:
			</div>
		</h5>
	</div>
	{% if moduleData['settings_dependencies'] != {} %}
		{% for setting in moduleData['settings_dependencies'] %}
		<div class="list-group-item" {% if moduleData['settings_dependencies'][setting]['hidden'] %} style="display: none;" {% endif %}>
			<div class="d-flex align-items-center justify-content-between">
				<div>
					<strong><i class="fas fa-cog mr-2"></i>{{ moduleData['settings_dependencies'][setting]['friendly_name'] }}</strong>
				</div>
				<div class="col-6 col-lg-3 ml-auto mr-0 pr-0 d-flex justify-content-end">
					<select class="form-control" id="{{ moduleSection }}_{{ setting }}" name="{{ moduleSection }}_{{ setting }}">
						{% for option in moduleData['settings_dependencies'][setting]['options'] %}
							<option value="{{ option }}"{% if moduleSettings[setting] == option %} selected{% endif %}>{{ moduleData['settings_dependencies'][setting]['options'][option] }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="text-muted text-muted mb-0 ml-2 p-2">
				{{ moduleData['settings_dependencies'][setting]['description'] }}
			</div>
		</div>
		{% endfor %}
	{% endif %}
{% endmacro %}