{% extends 'base.html' %}
{% from '_macro_wizard_card.html' import render_wizard_card %}
{% from '_macro_probes_config.html' import render_probe_devices, render_probe_ports %}
{% from '_macro_settings.html' import render_input_float_int, render_input_bool, render_input_list, render_input_string %}

{% block body_class %}timer-offset{% endblock %}

{% block cssextend %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}" type="text/css" />
{% endblock %}


{% block title %}Config Wizard{% endblock %}

{% block timer_bar %}{% endblock %}

{% block content %}
	<div class="row">
		<!-- Spacer for Left Nav on large screens -->
		<div class="col-lg-2 d-none d-lg-block"></div>
		<!-- Spacer for Sub Nav on everything but large screens -->
		<div class="col-12 mt-5 d-lg-none d-block"></div>
		<!-- Nav Content-->
		<aside class="col-12 col-lg-2 navbar-dark bg-dark px-0 position-fixed vh-lg-100 border-bottom" style="z-index:1000;">
			<nav class="navbar navbar-expand-lg px-0">   
				<button class="ml-auto btn btn-warning mr-2 d-lg-none d-flex justify-content-center align-items-center" data-toggle="collapse" data-target="#wizardNav">
					<b>Config Wizard</b><span class="fa fa-chevron-down ml-2"></span>
				</button>
				<div class="collapse navbar-collapse overflow-auto mt-2 px-0 ml-auto col-12 col-lg-auto" style="z-index:1001;" id="wizardNav"> 
					<ul class="nav nav-pills flex-column mx-auto px-0">
						<li class="nav-item mt-1 px-1">
							<a href="/admin" class="nav-link subnav-link d-flex align-items-start btn btn-outline-primary btn-block shadow">Admin</a>
						</li>
						<li class="nav-item mt-1 px-1">
							<a class="nav-link subnav-link active d-flex align-items-start" id="v-pills-start-tab" data-toggle="pill" href="#v-pills-start" role="tab" aria-controls="v-pills-start" aria-selected="true">Start</a>
						</li>
						<li class="nav-item mt-1 px-1">
							<a class="nav-link subnav-link d-flex align-items-start" id="v-pills-platform-tab" data-toggle="pill" href="#v-pills-platform" role="tab" aria-controls="v-pills-platform" aria-selected="false">Platform</a>
						</li>
						<li class="nav-item mt-1 px-1">
							<a class="nav-link subnav-link d-flex align-items-start" id="v-pills-probes-tab" data-toggle="pill" href="#v-pills-probes" role="tab" aria-controls="v-pills-probes" aria-selected="false">Probe Input</a>
						</li>
						<li class="nav-item mt-1 px-1">
							<a class="nav-link subnav-link d-flex align-items-start" id="v-pills-display-tab" data-toggle="pill" href="#v-pills-display" role="tab" aria-controls="v-pills-display" aria-selected="false">Display</a>
						</li>
						<li class="nav-item mt-1 px-1">
							<a class="nav-link subnav-link d-flex align-items-start" id="v-pills-distance-tab" data-toggle="pill" href="#v-pills-distance" role="tab" aria-controls="v-pills-distance" aria-selected="false">Hopper Sensor</a>
						</li>
						<li class="nav-item mt-1 px-1">
							<a class="nav-link subnav-link d-flex align-items-start" id="v-pills-finish-tab" data-toggle="pill" href="#v-pills-finish" role="tab" aria-controls="v-pills-finish" aria-selected="false">Finish</a>
						</li>
					</ul> 
				</div>
			</nav>
		</aside> 

		<!-- Pills content -->
		<div class="col-12 col-lg-7 mx-auto mt-2" style="z-index: 0;">
			<div class="overflow-auto">
				<form action="/wizard/finish" id="wizardForm" method="POST" onsubmit="if (!finished) {event.preventDefault();};">
					<div class="tab-content" id="v-pills-tabContent">
						<!-- ============================ Start ========================== -->
						<div class="tab-pane fade show active" id="v-pills-start" role="tabpanel" aria-labelledby="v-pills-start-tab">
							<div class="card shadow">
								<div class="card-header bg-primary text-white">
									<h5>
										<i class="fas fa-hat-wizard"></i>&nbsp; <strong>Welcome!</strong>
									</h5>
								</div>
								<div class="list-group shadow">
									<!-- Welcome Message -->
									<div class="list-group-item">
										<div class="d-flex align-items-center justify-content-between">
											<div>
												<strong>Welcome to the Config Wizard for PiFire!</strong>
												<ul class="mt-2">
													<li>This wizard will help you configure PiFire packages for your hardware.</li>
													<li>The tabs on the left indicate the areas of customization available.</li>
													<li>Apply settings by going to the "Finish" tab and clicking the blue "Finish" button.</li>
												</ul>
												<p class="mt-2"><b>To get started, click Start.</b></p>
											</div>
										</div>
									</div>
								</div>
								<div class="card-footer bg-secondary rounded mb-1 py-1 mt-3">
									<div class="row">
										<div class="col-6 d-flex justify-content-start">
											<button class="btn-danger btn mr-2 cancelBtn" data-toggle="modal" data-target="#cancelModal">Cancel</button>
										</div>
										<div class="col-6 d-flex justify-content-end">
											<button class="btn btn-primary nextBtn">Start</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ============================ Platform ========================== -->
						<div class="tab-pane fade" id="v-pills-platform" role="tabpanel" aria-labelledby="v-pills-platform-tab">
							<div class="card shadow">
								<div class="card-header bg-primary text-white">
									<h5>
										<i class="fas fa-cogs"></i>&nbsp; <strong>Platform Module</strong>
									</h5>
								</div>
								<div class="list-group">
									<div class="list-group-item border rounded border-success align-items-center">
										<div class="d-flex align-items-center justify-content-between">
											<div class="d-flex align-items-center">
												<strong><i class="fas fa-microchip mr-2"></i>Platform Module:</strong>
											</div>
											<div class="d-flex align-items-center">
												<select class="form-control" id="grillplatformSelect" name="grillplatformSelect">
													{% for module in wizardData['modules']['grillplatform'] %}
														<option value="{{ module }}"{% if wizardInstallInfo['modules']['grillplatform']['module_selected'][0] == module %} selected {% endif %}>{{ wizardData['modules']['grillplatform'][module]['friendly_name'] }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div>
											<p class="text-muted mb-0 ml-2 p-2">
												<span class="badge badge-primary badge-note mr-2">NOTE</span>
												The prototype platform should only be selected for testing/debug purposes.
											</p>
										</div>
									</div>
									<div id="grillplatformCard">
										{% for module in wizardData['modules']['grillplatform'] %}
											{% if wizardInstallInfo['modules']['grillplatform']['module_selected'][0] == module %}
												{{ render_wizard_card(wizardData['modules']['grillplatform'][module], 'grillplatform', wizardInstallInfo['modules']['grillplatform']['settings']) }}
											{% endif %}
										{% endfor %}
									</div>
								</div><!-- End of List Group -->
								<div class="card-footer bg-secondary rounded mb-1 py-1 mt-3">
									<div class="row">
										<div class="col-12 d-flex justify-content-end">
											<button class="btn btn-light mr-2 backBtn">Back</button>
											<button class="btn btn-primary btn mr-2 nextBtn">Next</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ============================ Probes Input Section ========================== -->
						<div class="tab-pane fade" id="v-pills-probes" role="tabpanel" aria-labelledby="v-pills-probes-tab">
							<div class="card shadow">
								<div class="card-header bg-primary text-white">
									<h5>
										<i class="fas fa-microchip"></i>&nbsp; <strong>Probes Input</strong>
									</h5>
								</div>
								<div class="list-group shadow">
									
									<!-- Temp Units -->
									<div class="list-group-item border rounded border-success mt-1">
										<div class="d-flex justify-content-between align-items-center mb-2">
											<div>
												<strong><i class="fas fa-temperature-low mr-2"></i>Temp Units</strong>
											</div>
											<div>
												<select class="form-control w-auto" id="probes_units" name="probes_units">
													<option value="F" selected>Fahrenheit</option>
													<option value="C">Celsius</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<p class="text-muted mt-1 mb-0 p-2"> 
													Select the temperature units to use for PiFire globally. (This can be modified in settings later)
												</p>
											</div>
										</div>
									</div>

									<!-- Module Card -->
										{{ render_probe_devices(wizardInstallInfo['probe_map'], wizardData['modules']['probes']) }}

										{{ render_probe_ports(wizardInstallInfo['probe_map'], wizardData['modules']['probes']) }}
									<!-- End of Card -->
								
								</div>
								<div class="card-footer bg-secondary rounded mb-1 py-1 mt-3">
									<div class="row">
										<div class="col-12 d-flex justify-content-end">
											<button class="btn btn-light mr-2 backBtn">Back</button>
											<button class="btn btn-primary btn mr-2 nextBtn">Next</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ============================ Display Module Section ========================== -->
						<div class="tab-pane fade" id="v-pills-display" role="tabpanel" aria-labelledby="v-pills-display-tab">
							<div class="card shadow">
								<div class="card-header bg-primary text-white">
									<h5>
										<i class="fas fa-tv"></i>&nbsp; <strong>Display Module</strong>
									</h5>
								</div>
								<div class="list-group">
									<div class="list-group-item border rounded border-success align-items-center">
										<div class="d-flex align-items-center justify-content-between">
											<div class="d-flex align-items-center">
												<strong>Select a Display Module for PiFire:</strong>
											</div>
											<div class="d-flex align-items-center">
												<select class="form-control" id="displaySelect" name="displaySelect">
													{% for module in wizardData['modules']['display'] %}
													<option value="{{ module }}"{% if wizardInstallInfo['modules']['display']['module_selected'][0] == module %} selected {% endif %}>
													{{ wizardData['modules']['display'][module]['friendly_name'] }}
													</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div>
											<p class="text-muted mb-0 ml-2 p-2">
												<span class="badge badge-primary badge-note mr-2">NOTE</span>
												A display is not required by PiFire, but is extremely useful. The default display is the ILI9341 Color Display with button input. The prototype display should only be selected for testing/debug purposes.
											</p>
										</div>
									</div>
									<div id="displayCard">
										{% for module in wizardData['modules']['display'] %}
											{% if wizardInstallInfo['modules']['display']['module_selected'][0] == module %}
												{{ render_wizard_card(wizardData['modules']['display'][module], 'display',  wizardInstallInfo['modules']['display']['settings']) }}
											{% endif %}
										{% endfor %}
									</div>
								</div><!-- End of List Group -->
								<div class="card-footer bg-secondary rounded mb-1 py-1 mt-3">
									<div class="row">
										<div class="col-12 d-flex justify-content-end">
											<button class="btn btn-light mr-2 backBtn">Back</button>
											<button class="btn btn-primary btn mr-2 nextBtn">Next</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ============================ Hopper Level Sensor Module Section ========================== -->
						<div class="tab-pane fade" id="v-pills-distance" role="tabpanel" aria-labelledby="v-pills-distance-tab">
							<div class="card shadow">
								<div class="card-header bg-primary text-white">
									<h5>
										<i class="fas fa-ruler-vertical"></i>&nbsp; <strong>Hopper Level Sensor Module</strong>
									</h5>
								</div>
								<div class="list-group">
									<div class="list-group-item border rounded border-success align-items-center">
										<div class="d-flex align-items-center justify-content-between">
											<div class="d-flex align-items-center">
												<strong>Select a Hopper Level Sensor for PiFire:</strong>
											</div>
											<div class="d-flex align-items-center">
												<select class="form-control" id="distanceSelect" name="distanceSelect">
													{% for module in wizardData['modules']['distance'] %}
													<option value="{{ module }}"{% if wizardInstallInfo['modules']['distance']['module_selected'][0] == module %} selected {% endif %}>
													{{ wizardData['modules']['distance'][module]['friendly_name'] }}
													</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div>
											<p class="text-muted mb-0 ml-2 p-2">
												<span class="badge badge-primary badge-note mr-2">NOTE</span>
												A hopper level sensor is optional. The prototype module can be selected if you don't currently use a hopper level sensor.
											</p>
										</div>
									</div>
									<div id="distanceCard">
										{% for module in wizardData['modules']['distance'] %}
											{% if wizardInstallInfo['modules']['distance']['module_selected'][0] == module %}
												{{ render_wizard_card(wizardData['modules']['distance'][module], 'distance',  wizardInstallInfo['modules']['distance']['settings']) }}
											{% endif %}
										{% endfor %}
									</div>
								</div><!-- End of List Group -->
								<div class="card-footer bg-secondary rounded mb-1 py-1 mt-3">
									<div class="row">
										<div class="col-12 d-flex justify-content-end">
											<button class="btn btn-light mr-2 backBtn">Back</button>
											<button class="btn btn-primary btn mr-2 nextBtn">Next</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ============================ Confirm Settings Section ========================== -->
						<div class="tab-pane fade" id="v-pills-finish" role="tabpanel" aria-labelledby="v-pills-finish-tab">
							<div class="card shadow">
								<div class="card-header bg-primary text-white">
									<h5>
										<i class="fas fa-check-circle"></i>&nbsp; <strong>Confirm Settings</strong>
									</h5>
								</div>
								<div class="list-group-item">
									<h5><i class="fas fa-glass-cheers"></i> Congratulations! You've finished configuring the initial PiFire settings. </h5> 
			
									<p class="mt-3 text-muted">
										To apply these settings and	finish the installation of modules and dependencies, click the <b>Finish</b> button below.
									</p>
								</div>
								<div class="list-group-item">
									<div class="table-responsive">
										<table class="table table-dark table-hover ml-0 mr-0 p-0">
											<colgroup>
												<col style="width: 20ch; white-space: nowrap;">
												<col>
											</colgroup>
											<tbody>
												<tr>
													<td><strong>Platform:</strong></td>
													<td><span id="grillplatformConfirm">-</span></td>
												</tr>
												<tr>
													<td><strong>Probe Input:</strong></td>
													<td><span id="probesConfirm">-</span></td>
												</tr>
												<tr>
													<td><strong>Display:</strong></td>
													<td><span id="displayConfirm">-</span></td>
												</tr>
												<tr>
													<td><strong>Hopper Sensor:</strong></td>
													<td><span id="distanceConfirm">-</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="list-group-item text-muted">
									<span class="badge badge-note mr-2">NOTE</span><b>This process may take several minutes depending on the items that need to be installed so please be patient.</b>
									<p class="mt-4">
										The system will restart the PiFire server software after installing the needed items. 
									</p>
									<p class="mt-2">
										This may take several seconds while the system comes back up.
									</p>
									<p class="mt-2">
										If you need to revisit this wizard at any time in the future, you can launch it from the admin menu.
									</p>
								</div>
								<div class="card-footer bg-secondary rounded mb-1 py-1 mt-3">
									<div class="row">
										<div class="col-6 d-flex justify-content-start">
											<button class="btn-danger btn mr-2 cancelBtn" data-toggle="modal" data-target="#cancelModal">Cancel</button>
										</div>
										<div class="col-6 d-flex justify-content-end">
											<button class="btn btn-light mr-2 backBtn">Back</button>
											<button class="btn btn-primary" id="finishBtn">Finish</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

<!-- Cancel Modal -->
<form action="/wizard/cancel" method="POST">
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="cancelModalLabel">Cancel Config Wizard?</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<strong>Are you sure that you want to cancel the Config Wizard?</strong><br>
			When cancelled, this wizard won't appear again, but can be launched again from the Admin panel.
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-warning" name="cancelwizard" value="true">Yes, Cancel the Wizard</button>
		</div>
	  </div>
	</div>
  </div>
</form>

<!-- Warning - Running Modal -->
<div class="modal fade" id="runningModal" tabindex="-1" aria-labelledby="runningModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="runningModalLabel"><b>Warning!</b> System Active</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body text-danger">
			<strong>The system is active/running and must be stopped before making configuration changes through this wizard.</strong><br>
			Before continuing to make configuration changes, please stop the grill. 
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it!</button>
		</div>
	  </div>
	</div>
  </div>


{% endblock %}

{% block controlpanel %}{% endblock %}
{% block controlpanel_scripts %}{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/wizard.js') }}"></script>
<script src="{{ url_for('static', filename='js/probes_config.js') }}"></script>
{% if control['mode'] != 'Stop' %}
<script>
	$('#runningModal').modal('show')
</script>
{% endif %}
{% endblock %}